@import url('https://fonts.googleapis.com/css?family=Montserrat');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
  }
  h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  .accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }

.accordion-item {
    background-color:aliceblue
    
}

.accordion-item-header {
padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  a:link {
    color: black;
}
  
a:visited {
    color: black;
}

.header-nav-items{
    /* margin-left: 1000px; */
}

a:hover {
    color: grey;
}

a:active {
    color: blue;
}

 
  footer{
      text-align: center;
      margin-top: 30px;
  }
